@model IPagedList<Mvc_472_PortfolioC.Models.Employee>
@using System.Web
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm("IndexSearch", "Employee", FormMethod.Get))
    {
        <b> Search by: </b> 
        @Html.RadioButton("Searchby", "Name", true) <text>Name</text> @Html.RadioButton("Searchby", "Gender") <text>Gender</text> 
        <br />
        @Html.TextBox("search") <input type="submit" value="search" />
    }

</p> 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfBirth)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="4">No rows match search Criteria</td></tr>
    }
    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "Employee", new { id = item.EmployeeId }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })*@
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID = @item.EmployeeId');" />

                </td>
            </tr>
        }
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("IndexSearch", new { page = page, searchby = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() {Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
@Html.ActionLink("See all Departments", "Index", "Department")