@model IEnumerable<Mvc_472_PortfolioC.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
   
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.Name)
                @Html.HiddenFor(modelItem => item.ID)
                @Html.HiddenFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(item.Name, "Index", "Employee", new { DepartmentId = item.ID }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@Html.DropDownList("Departments", "Select Department")
